.cards
  display: flex
  flex-wrap: wrap

  &__card
    display: flex
    flex-direction: column
    max-width: 280px
    margin-bottom: 30px
    margin-right: 20px

    &-title
      font-size: 20pt
      color: var(--rag-black)
      font-weight: 600
      text-transform: capitalize

    &-description
      font-size: 14pt

    img
      width: 41px

    *
      margin-bottom: 20px
