:root
  --rag-red: #ff3f40
  --rag-gray: #605f5f
  --rag-black: #333
  --rag-white: #e5e5e5

  --hero-background: #f6f2f2

  --h1-fsize: 60pt
  --h2-fsize: 42pt
  --h3-fsize: 30pt
  --h4-fsize: 24pt
  --h5-fsize: 20pt
  --h6-fsize: 18pt
  --p-fsize: 16pt
  --btn-fsize: 18.14pt

  @media screen and (max-width: 1400px)
    --h1-fsize: 42pt
    --h2-fsize: 30pt
    --h3-fsize: 24pt
    --h4-fsize: 20pt
    --h5-fsize: 18pt
    --h6-fsize: 16pt
    --p-fsize: 14pt

  @media screen and (max-width: 767.98px)
    --h1-fsize: 30pt
    --h2-fsize: 24pt
    --h3-fsize: 20pt
    --h4-fsize: 18pt
    --h5-fsize: 16pt
    --h6-fsize: 14pt
    --p-fsize: 12pt
    --btn-fsize: 14.14pt

  @media screen and (max-width: 360.98px)
    --h1-fsize: 20pt
    --h2-fsize: 18pt
    --h3-fsize: 16pt
    --h4-fsize: 14pt
    --h5-fsize: 12pt
    --h6-fsize: 10pt
    --p-fsize: 8pt
    --btn-fsize: 10.14pt

  --extrabold: 800
  --semibold: 600
  --regular: 400
