section.contact
  .container.contact__container
    .intro.contact__intro.intro_underline.intro_underline-left
      h2.title.contact__title get in touch
      p.description.contact__description.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    .interact.contact__interact
      form.form.contact__form
        input(name="name", placeholder="Name")
        input(name="mail", placeholder="Your Mail")
        textarea(name="text", placeholder="Type your message" rows="10")
        submit.btn.contact__submit Send Message
      .info.contact__info
        span.title.title_whte.info__title.title_white Contact info
        span.description.info__description.description_white.
          Jalalabad 24 / A, Ambaarkhana, <br> Sylhet, Bangladesh
        span.description.info__description.description_white redwan@deviserweb.com
        span.description.info__description.description_white (+88) 017 617 46373
