footer.footer
  .container.footer__container
    .copyright.footer__copyright © Copyright @Junaed 2016, All rights reserved.
    .social.foter__social
      .social__item
        <i class="fa-brands fa-twitter"></i>
      .social__item
        <i class="fa-brands fa-linkedin-in"></i>
      .social__item
        <i class="fa-brands fa-google-plus-g"></i>
      .social__item
        <i class="fa-brands fa-facebook-f"></i>
  
  
