section.hero
  .container.hero__container
    .offer.hero__offer
      h1.title.hero__title our strong organisation
      p.description.hero__description.
        Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod 
        tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do 
        eiusmod tempor incididunt.
      button.btn.btn_red contact us
    video.video.hero__video(src="#")
