section.mail
  .container.mail__container
    .intro.mail__intro
      h2.title.title_white.mail__title Design tips, tricks, and freebies. Delivered weekly
      p.description.description_white.mail__description.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    form.form.mail__form
      input.mail__input(placeholder="Email Addres...")
      submit.btn.mail__btn.btn-white subscribe
